<!DOCTYPE html>
<html lang="en">
<!-- Insert CSS and head JS here -->

<head th:replace="~{fragmentlinks :: headResourcesLinks}"></head>

<head>
    <!-- Custom CSS files -->
    <link rel="stylesheet" href="/css/employee.css">
    <link rel="stylesheet" href="/css/dashboard.css">

</head>

<body>

    <!-- Bootstrap Navigation Bar Start-->
    <div th:replace="~{topnavbar :: topNavBarFragment}"></div>
    <!-- Bootstrap Navigation Bar End-->


    <div class="container-fluid">

        <div class="row mt-2 p-2">
            <div class="col-12 fw-bold header p-2">
                <h2> <i class="fa-solid fa-file-invoice-dollar"></i> Customer Payment Management</h2>
            </div>
        </div><br>


        <div class="card p-3">
            <div class="row">
                <div class="col-12 text-end">
                    <!-- Button trigger offcanvas -->
                    <button type="button" class="btn offcanvas-btn fw-bold" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasCustomerPaymentForm">
                        <i class="fa-solid fa-plus"></i> ADD A NEW CUSTOMER PAYMENT
                    </button>
                    <!-- Helping text below the button -->
                    <small class="text-muted d-block mt-2">Click this to add a new customer payment</small>
                </div>
            </div>
        </div>

        <!--Start Table Area-->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-hover table-script table-container table-bordered" id="tableCustomerPayment">
                            <thead class="custom-thead fw-bold">
                                <tr>
                                    <th>#</th>
                                    <th>Bill No</th>
                                    <th>Order No</th>
                                    <th>Payment Method</th>
                                    <th>Total Amount</th>
                                    <th>Payment Amount</th>
                                    <th>Balance Amount</th>
                                    <th>Date Time Of the Payment</th>
                                    <th>Status</th>
                                    <th>Modify</th>
                                </tr>
                            </thead>
                            <tbody class="custom-tbody fw-bold" id="tableCustomerPaymentBody">
                            </tbody>
                        </table>
                        
                    </div>
                    <!-- End Table Area -->

                    <!-- Supplier Status Icons Explanation (Inside the Card Footer) -->
                    <div class="card-footer text-center">
                        <!-- &nbsp; adds space, | is a separator, and another &nbsp; ensures spacing on both sides -->
                        <i class="fa-solid fa-file-invoice-dollar fa-lg text-danger"></i> <span class="ms-2"> Pending</span> &nbsp;
                        <i class="fa-solid fa-file-invoice-dollar fa-lg text-success"></i> <span class="ms-2"> Completed</span>
                        
                    </div>
                </div>
            </div>
        </div>

    </div>


      <!-- Form Off canvas -->
      <div class="offcanvas offcanvas-end" style="width: 50%;" tabindex="-1" id="offcanvasCustomerPaymentForm" role="dialog">
        <div class="offcanvas-content">
            <div class="offcanvas-dialog">
                <div class="offcanvas-header" aria-labelledby="offcanvasExampleLabel">
                    <h5 class="offcanvas-title text-center w-100" id="offcanvasExampleLabel">
                    <i class="fa-solid fa-file-invoice-dollar"></i> Complete Customer Payment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div class="card">
                        <div class="card-body">
                
                            <!-- ========== Customer Payment Form ========== -->
                            <form id="formCustomerPayment" onsubmit="return false">
                
                                <!-- ========== Required Note ========== -->
                                <div class="row mt-2">
                                    <div class="col-12 fw-bold mt-2">
                                        <p class="text-end">Required <span class="text-danger">*</span></p>
                                    </div>
                                </div>
                
                                <!-- ========== Payment Method & Total Amount ========== -->
                                <div class="row mt-2">
                
                                    <!-- Order Id  Dropdown -->
                                    <div class="col">
                                        <label for="selectOrderId" class="form-label fw-bold">
                                             Order Id : <span class="text-danger">*</span>
                                        </label>
                                        <select id="selectOrderId" class="form-select" required
                                            onchange="selectDynamicElementValidator(this,'customerpayment','order_process_id'); generateTotalAmount()">
                                        </select>
                                    </div>
                                    <div class="col">
                                        <label for="selectPaymentMethod" class="form-label fw-bold">
                                            Payment Method : <span class="text-danger">*</span>
                                        </label>
                                        <select id="selectPaymentMethod" class="form-select" required
                                            onchange="selectDynamicElementValidator(this,'customerpayment','payment_method_id');calculatePayAmountAndBalanceBypayMethod()">
                                        </select>
                                    </div>
                                </div>
                
                                <!-- ========== Paid & Balance Amount ========== -->
                                <div class="row mt-2">
                                    
                                    <!-- Total Amount Field -->
                                    <div class="col fw-bold">
                                        <label for="textPTotalAmount" class="form-label fw-bold">
                                            Total Amount : <span class="text-danger">*</span>
                                        </label>
                                        <input type="text" class="form-control" id="textPTotalAmount" placeholder="Enter Total Amount"
                                            onkeyup="commonTextValidator(this,'^(([1-9][0-9]{0,3})|([1-9][0-9]{0,3}[.]{0,1}[0-9]{2}))$','customerpayment','total_amount')"
                                            required>
                                    </div>
                                    <!-- Paid Amount Input -->
                                    <div class="col">
                                        <label for="textPaidAmount" class="form-label fw-bold">
                                            Payment Amount : <span class="text-danger">*</span>
                                        </label>
                                        <input type="text" id="textPaidAmount" class="form-control" placeholder="Enter Payment Amount"
                                            onkeyup="commonTextValidator(this,'^(([1-9][0-9]{0,6})|([1-9][0-9]{0,6}[.]{0,1}[0-9]{2}))$','customerpayment','paid_amount');calculateBalanceAmount();"
                                            required>
                                    </div>
                                </div>
                
                                <!-- ========== Payment Status Dropdown ========== -->
                                <div class="row mt-2">

                                    <!-- Balance Amount Input -->
                                    <div class="col-6">
                                        <label for="textBalanceAmount" class="form-label fw-bold">
                                            Balance Amount :
                                        </label>
                                        <input type="text" id="textBalanceAmount" class="form-control" placeholder="Enter Balance Amount"
                                            onkeyup="commonTextValidator(this,'^(([1-9][0-9]{0,6})|([1-9][0-9]{0,6}[.]{0,1}[0-9]{2}))$','customerpayment','balance_amount');calculateBalanceAmount();">
                                    </div>
                                    <div class="col-6 d-none">
                                        <label for="selectPaymentStatus" class="form-label fw-bold">
                                            Payment Status : <span class="text-danger">*</span>
                                        </label>
                                        <select id="selectPaymentStatus" class="form-select" required
                                            onchange="selectDynamicElementValidator(this,'customerpayment','payment_status_id');">
                                        </select>
                                    </div>
                                </div>
                
                                <!-- ========== Action Buttons ========== -->
                                <div class="row mt-4">
                
                                    <!-- Clear Button -->
                                    <div class="col-6 text-start">
                                        <button type="button" class="custom-btn btn btn-outline-info btn-sm fw-bold"
                                            onclick="clearCustomerPaymentForm()">
                                            <i class="fa-solid fa-recycle fa-sm"></i> Clear
                                        </button>
                                    </div>
                
                                    <!-- Submit and Update Buttons -->
                                    <div class="col-6 text-end">
                                        <button type="submit" id="buttonPaymentUpdate"
                                            class="custom-btn btn btn-outline-warning me-2 fw-bold btn-sm"
                                            onclick="buttonCustomerPaymentUpdate(this)">
                                            <i class="fa-solid fa-pen-to-square fa-sm"></i> Update
                                        </button>
                                        <button type="submit" id="buttonPaymentSubmit"
                                            class="custom-btn btn btn-outline-success fw-bold btn-sm"
                                            onclick="buttonCustomerPaymentSubmit(this)">
                                            <i class="fa-solid fa-paper-plane fa-sm"></i> Submit
                                        </button>
                                    </div>
                
                                </div>
                
                            </form> <!-- End Form -->
                
                        </div> <!-- End Card Body -->
                    </div> <!-- End Card -->
                </div> <!-- End Offcanvas Body -->
            </div>
        </div>
    </div>



    <!-- Off-Canvas for View Supplier Payment Details -->
    <div class="offcanvas offcanvas-end" style="width: 40%;" tabindex="-1" id="offcanvasCustomerView"
        data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="offcanvas-header d-flex justify-content-center w-100">
            <h5 class="offcanvas-title text-center flex-grow-1">
                <i class="fa-solid fa-file-invoice-dollar"></i> View Customer Payment Details
            </h5>
            <button type="button" class="btn-close position-absolute end-0 me-3" data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="card">
                <div class="card-body">
                    <table class="table table-hover table-container table-bordered" id="tableSupplierView">
                        <tr>
                            <th>Order No</th>
                            <td id="tdOrderNo"></td>
                        </tr>
                        <tr>
                            <th>Payment Method</th>
                            <td id="tdPaymentMethod"></td>
                        </tr>
                        <tr>
                            <th>Total Amount</th>
                            <td id="tdTotalAmount"></td>
                        </tr>
                        
                        <tr>
                            <th>Payment Amount</th>
                            <td id="tdPaymentAmount"></td>
                        </tr>

                            <th>Balance Amount</th>
                            <td id="tdBalanceAmount"></td>
                        </tr>
                        
                        <tr>
                            <th>Payment Status</th>
                            <td id="tdPaymentStatus"></td>
                        </tr>
                
                    </table>
                </div>
                <div class="card-footer text-end p-3">
                    <button class="custom-btn btn btn-outline-info btn-sm fw-bold" onclick="buttonPrintRow()">
                        <i class="fa-solid fa-print fa-sm"></i> Print
                    </button>
                </div>
            </div>
        </div>
    </div>


    <script src="/js/commonTableFunction.js"></script>
    <script src="/js/validationFunction.js"></script>
    <script src="/js/commonFunction.js"></script>
    <script src="/uicontroller/customerpayment.js"></script>
   
</body>

</html>