<!DOCTYPE html>
<html lang="en">

<!-- Insert CSS and head JS here -->

<head th:replace="~{fragmentlinks :: headResourcesLinks}"></head>

<head>
   
    <!-- Link Css File -->
    <link rel="stylesheet" href="/css/card.css">
    
    <!-- Link Css File -->
    <link rel="stylesheet" href="/css/dashboard.css">

</head>

<body>

    <!-- Bootstrap Navigation Bar Start-->
    <nav th:replace="topnavbar :: topNavBarFragment"></nav>
    <!-- Bootstrap Navigation Bar End-->

    <!-- Title Start -->
    <div class="row mt-2 p-2">
        <div class="col-12 fw-bold header p-2">
            <h2><i class="fa-solid fa-list"></i> Inventory and Ingredient Management</h2>
        </div>
    </div> <br>
    <!-- Title End -->
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-md-3">
                        <div class="card small-card">
                            <div class="card-header fw-bold custom-header">
                                Ingredient Management
                            </div>
                            <div class="card-body d-flex flex-column p-2">
                                <img src="/images/grn.png" alt="Ingredients" class="img-fluid fixed-img">
                                <a href="/ingredient" class="btn btn-primary btn-sm mt-auto fw-bold">Continue</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card small-card">
                            <div class="card-header fw-bold custom-header">
                                Inventory Management
                            </div>
                            <div class="card-body d-flex flex-column p-2">
                                <img src="/images/inventory.png" alt="Inventory" class="img-fluid fixed-img">
                                <a href="/inventory" class="btn btn-primary btn-sm mt-auto fw-bold">Continue</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card small-card">
                            <div class="card-header fw-bold custom-header">
                                Daily Stock Out 
                            </div>
                            <div class="card-body d-flex flex-column p-2">
                                <img src="/images/item.png" alt="Inventory" class="img-fluid fixed-img">
                                <a href="/dailyoutstock" class="btn btn-primary btn-sm mt-auto fw-bold">Continue</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card small-card">
                            <div class="card-header fw-bold custom-header">
                                Garbage Remove
                            </div>
                            <div class="card-body d-flex flex-column p-2">
                                <img src="/images/garbageremove.png" alt="Garbage" class="img-fluid fixed-img">
                                <a href="garbageremove" class="btn btn-primary btn-sm mt-auto fw-bold">Continue</a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>


</body>

</html>